<form [formGroup]="polynomialForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="polynomial-card">
    <mat-card-header>
      <mat-card-title>Datos de Entrada</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Función</h4>
      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Grado" formControlName="degree">
            <mat-option *ngFor="let d of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [value]="d">
              {{d}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row" formArrayName="coefficients">
        <div class="label">f(x) = </div>
        <div *ngFor="let coef of coefficientsFormArray.controls; index as i; last as l" class="col">
            <mat-form-field class="short-number" [style.width.px]="sizes.coefficients[i]">
              <input matInput type="number" [formControlName]="i">
            </mat-form-field>
            <div *ngIf="!l" class="label">x<sup *ngIf="coefficientsFormArray.length-i-1>1">{{coefficientsFormArray.length-i-1}}</sup>
              <span>&nbsp;+</span> 
            </div>
        </div>
      </div>
      <h4>Intervalo</h4>
      <div class="row">
        <div class="col">
          <mat-form-field class="short-number" [style.width.px]="sizes.x0">
            <input type="number" matInput placeholder="x0" formControlName="x0">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="short-number" [style.width.px]="sizes.x1">
            <input type="number" matInput placeholder="x1" formControlName="x1">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="polynomialForm.invalid">Calcular</button>
    </mat-card-actions>
  </mat-card>
</form>